body{
    background-color: rgb(230, 227, 227);
    width: 100%;
    height: 100vh;
 overflow: hidden;
 display: flex;
 flex-direction: column;
align-items: center;
/* text-align: center; */
font-family: 'Nunito', sans-serif;
}

#date{
    width: 300px;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

h2{
   text-decoration: underline; 
   text-align: center;
   width: 100%;
}

#contents{

    border: 2px solid black;
    border-radius: 8px;
    height: 80vh;
    width: 40%;
    
}

#submit{
    font-size: 20px;
    padding: 5px 8px;
    width: 100%;
}
#box{
    width: 99%;

    height: 5%;
}


#list{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#boxes{
    width: 100%;
}



li {
display: flex;
list-style-type: none;
font-size: 20px;
font-family: 'Roboto Mono', monospace;
/* justify-content: space-around; */
align-items: center;
padding: 10px 45px;
justify-content: space-between;
}


input[type="checkbox"]{
  width: 20px;
height: 20px;
margin-right: 10px;
}

#list-b{
margin-right:10px;
}

#completed li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}


